.game-controls {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  outline: 1px solid gold;
}

@media all and (orientation:landscape) {
  .game-controls {
    width: 50px;
    top: 0;
    height: 100%;
  }
}

.left-controls-border {
  position: fixed;
  bottom: 0;
  left: 0;
  outline: 1px solid gold;
  width: 150px;
  top: 0;
  height: 100%;
  opacity: 0;
  pointer-events: none;
}

@media all and (orientation:landscape) {
  .left-controls-border {
    opacity: 1;
  }
}

.model-controls {
  position: fixed;
  bottom: 50px;
  left: 0;
  width: 100%;
  height: 50px;
  outline: 1px solid gold;
}

@media all and (orientation:landscape) {
  .model-controls {
    width: 50px;
    top: 0;
    left: 50px;
    height: 100%;
  }
}

.chat-box {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  outline: 1px solid gold;
}

.chat-box .chatter {
  width: 100%;
  height: 100px;
  overflow-x: hidden;
  outline: 1px solid red;
}

@media all and (orientation:landscape) {

  .chat-box {
    left: auto;
    right: 0;
    top: 0;
    height: 100%;
    width: 150px;
  }

  .chat-box .chatter {
    width: 100%;
    height: 50%;
    overflow-x: hidden;
    outline: 1px solid red;
  }

}

.button {
  display: inline-block;
  vertical-align: top;
  outline: 1px solid gold;
  margin: 5px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.button.disabled {
  outline: 1px solid lightgrey;
  color: lightgrey;
}

.button.on {
  outline: 1px solid red;
}

.chatter ul {
  padding-left: 3px;
  padding-right: 3px;
}

.chat-item {
  list-style-type: none;
  margin-bottom: 6px;
  color: black;
}

.chat-date {
  color: lightgrey;
}

.num-dice {
  width: 40px;
}

.dice-value {
  width: 40px;
}

.dice-results {
  font-weight: bold;
}

/*colour-picker*/
.sp-replacer {
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  height: 35px;
  width: 30px;
}
