.game {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.game-view-wrapper {
  /*width: 100%;*/
  /*padding-bottom: 66.67%;*/

  width: 1000px;
  height: 666px;

  position: relative;
  overflow: hidden;
}

.game-view-scroller {
  /*padding-bottom: 66.67%;  todo put responsiveness back in*/
  position: absolute;
  overflow: hidden;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: auto !important;
}

svg.game-entities {
  position: absolute;
  top: 0;
  left: 0;
}


.model {
  stroke: black;
  fill: green;
  stroke-width: 1.5;
  vector-effect: non-scaling-stroke;
}

