<div class="game-controls">

  <div
    class="button"
    ng-click="toggleMoveMode()"
    ng-class="{'on': stuff.moveModeOn}"
    >
    Move mode toggle
  </div>

  <div
    class="button"
    ng-click="zoomIn()"
    ng-class="{'disabled': !stuff.moveModeOn}"
    >
    Zoom in
  </div>

  <div
    class="button"
    ng-click="zoomOut()"
    ng-class="{'disabled': !stuff.moveModeOn}"
    >
    Zoom out
  </div>

  <div
    class="button"
    ng-click="toggleRangeCheckMode()"
    ng-class="{'on': stuff.rangeCheckModeOn}"
    >
    Check range
  </div>

</div>
