<div class="game-controls">

  <div
    class="button"
    ng-click="toggleMoveMode()"
    ng-class="{'on': stuff.mode === Mode.MOVE_VIEW}"
    >
    Move mode toggle
  </div>

  <div
    ng-if="!stuff.onMobile"
    class="button"
    ng-click="zoomIn()"
    ng-class="{'disabled': stuff.mode !== Mode.MOVE_VIEW}"
    >
    Zoom in
  </div>

  <div
    ng-if="!stuff.onMobile"
    class="button"
    ng-click="zoomOut()"
    ng-class="{'disabled': stuff.mode !== Mode.MOVE_VIEW}"
    >
    Zoom out
  </div>

  <div
    class="button"
    ng-click="toggleRangeCheckMode()"
    ng-class="{'on': stuff.mode === Mode.RANGE}"
    >
    Check range
  </div>

</div>
