<div class="game-view-wrapper"
     ng-style="{
          width: (BoardInfo.widthPx) + 'px',
          height: (BoardInfo.heightPx) + 'px'
         }"
  >
  <div class="game-view-scroller"
       ng-style="{
          width: (BoardInfo.zoomFactor * BoardInfo.widthPx) + 'px',
          height: (BoardInfo.zoomFactor * BoardInfo.heightPx) + 'px'
         }"
    >

    <img
      class="map"
      src="images/dead-city.jpg"
      width="100%"
      height="100%"
      />
    <svg
      class="game-entities"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      width="100%"
      height="100%"
      >


    </svg>
  </div>

  <div
    class="model-maker"
    ng-class="{'not-showing': stuff.mode !== Mode.ADD_MODELS}"
    >
    <div class="model-picker">
      <select>
        <option name="inf">Inf</option>
        <option name="largeInf">Large inf</option>
        <option name="tank">Tank</option>
      </select>
    </div>
    <div class="spawning-pit">
      <div class="potential-model"></div>
    </div>
  </div>

</div>
